<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Students </title>
  </head>
  <body>


    <% @students.each do |student| %>
    <li><%= student.first_name %>,<%= student.last_name %></li>
    <% end %>


  </body>
</html>
